################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenTelemetryDemo/v17
/.vs
/OpenTelemetryDemo/bin/Debug/net8.0
/OpenTelemetryDemo/obj
